.bookListElement {
    margin-bottom: 2vmin;
    padding: 2vmin 4vmin;
    background-color: var(--bg-secondary);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--standard-radius);
}