#container {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding: var(--outer-padding);
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: var(--outer-padding);
    overflow: auto;
}
.modal.open {
    display: block;
}
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    padding: 1vmin 4vmin 4vmin 4vmin;
    background-color: #202020;
    border-radius: var(--standard-radius);
    max-width: 800px;
}
body.modal-open {
    overflow: hidden;
}
.modal-button {
    padding: 2vmin;
}
.modal-button-row {
    display: flex;
    justify-content: space-between;
}

#colorSelection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vmin;
}

.swatch {
    width: calc(20px + 4vmin);
    height: calc(20px + 4vmin);
    border-radius: 99em;
    box-sizing: border-box;
}
.selected-swatch {
    border: calc(.2vmin + 2px) solid white;
}

.userTile {
    display: block;
    text-align: center;
    height: 90px;
    width: 90px;
    background-color: rgb(58, 56, 32);
    border-radius: var(--standard-radius);
    padding: var(--inner-padding);
    font-size: 22px;
    transition: transform .15s;
    transition-timing-function: ease-in-out;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
}
@media(hover: hover) and (pointer: fine) {
    .userTile:hover {
        transform: translate(0px, -1vmin);
    }
}
.userTile:active {
    transform: translate(0px, -1vmin);
}

#userBunch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: var(--outer-padding);
}

#addUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: var(--standard-radius);
    background-color: #383838;
    font-weight: 900;
    cursor: pointer;
    
}
#addUser > img {
    object-fit: fill;
    height: 30px;
    width: 30px;
    transition: height .2s, width .2s;
    transition-timing-function: ease-in-out;
}
@media(hover: hover) and (pointer: fine) {
    #addUser:hover > img {
        height: 35px;
        width: 35px;
    }
}

@keyframes hoverBounce {
    0% {transform: translate(0px, 0px);}
    50% {}
    100% {transform: translate(0px, 0px);}
}

#addUser:active {
    background-color: #5e5e5e;
}