@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --bg-primary: #101010;
    --bg-pane: #171717;
    --bg-secondary: #303030;
    --outer-padding: calc(15px + .5vmin);
    --inner-padding: calc(10px + .5vmin);
    --standard-radius: 20px;
    --thumbnail-height: 183px;
    --logo-height: 36px;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    inset: 0;
    margin: 0px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #d3d3d3;
    font-size: 16px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: normal;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
}

#contentContainer {
    overflow: auto;
    flex-grow: 1;
    padding: var(--outer-padding);
    padding-bottom: 0;
}

#logo {
    height: var(--logo-height);
}

.navIcon {
    border-radius: 99em;
    padding: 2vmin;
}
.navIcon > img {
    display: block;
    height: var(--logo-height);
}

.navIconSelected {
    background-color: #303030;
}

.bookCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--outer-padding);
    background-color: #252525;
    padding: var(--inner-padding);
    border-radius: var(--standard-radius);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

#thumb {
    height: var(--thumbnail-height);
    width: auto;
    border-radius: 18px;
}

#topBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--outer-padding);
    padding-bottom: var(--inner-padding);
    gap: 1rem;
    background-color: var(--bg-pane);
}
#logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    white-space: nowrap;
}
#userSection {
    right: var(--outer-padding);
    padding: var(--inner-padding);
    background-color: #444444;
    border-radius: 99em;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bottomPane {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0px;
    box-sizing: border-box;
    padding: var(--inner-padding);
    background-color: var(--bg-pane);
}

button {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
}
div {
    -webkit-tap-highlight-color: transparent !important;
}

input {
    all: unset;
    background-color: var(--bg-secondary);
    padding: var(--inner-padding);
    border-radius: 99em;
}

select {
    color: #d3d3d3;
    border: none;
    background-color: #252525;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: unset;
}