@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --main-bg-color: #101010;
    --outer-padding: 4vmin;
    --inner-padding: 15px;
    --standard-radius: 15px;
    --thumbnail-height: 183px;
    --logo-height: 30px;
}

body {
    background-color: var(--main-bg-color);
    inset: 0;
    position: absolute;
    margin: 0px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #b0b0b0;
    font-size: calc(10px + 1vmin);
}

h2 {
    font-weight: normal;
    font-size: calc(15px + 1vmin);
    margin: 5px 0px 5px 0px;
}

#logo {
    height: var(--logo-height);
}

.topBanner {
    display: flex;
    align-items: center;
    padding: 10px 10px 0 var(--outer-padding);
    gap: 1rem;
}

button {
    -webkit-tap-highlight-color: transparent !important;
}
div {
    -webkit-tap-highlight-color: transparent !important;
}