.video {
    aspect-ratio: 1 / 1 !important;
    width: 100%;
    border-radius: var(--standard-radius);
    background-color: #252525;
}

.bookCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--inner-padding);
    background-color: #252525;
    padding: var(--inner-padding);
    border-radius: var(--standard-radius);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.bottomContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(10px + 2vmin);;
}
@media screen and (orientation:landscape) {
    .bottomContent {
        flex-direction: row !important;
        justify-items: flex-start;
    }
    .video {
        width: unset;
        height: 100%;
        min-width: 40%;
    }
}

#thumb {
    height: var(--thumbnail-height);
    width: auto;
    border-radius: 18px;
}

#actionButton {
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: var(--standard-radius);
    display: none;
    background-color: #313131;
    font-size: calc(15px + 1vmin);
    padding: .5rem;
}
#actionButton:active {
    background-color: #5f5f5f;
}
#actionButton > img {
    display: block;
    height: calc(20px + 2vmin);
    width: calc(20px + 2vmin);
}

#output {
    flex: 1;
}